.myBtn {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background: #b7905d;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 500;
}

.myBtn:hover {
    box-shadow: 0 0 0.4rem 0.075rem #693500;
}

.myBtn:disabled:hover {
    background: #b7905d;
}

.myBtn:active {
    background: #9b7e51;
    box-shadow: 0 0 0.4rem 0.075rem #693500;
}

